* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
 
body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    Background: transparent;
    display: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}  

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Purple\Illustrated\Mountain\Desktop\Wallpaper.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation:slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

 .home-content h3 span {
    color: #0ef;
 }

   .home-content h1{
    font-size: 56px;
    font-weight : 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;


   }
    .home-content P {
        font-size: 20px;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: 1s;


    }

    .home-sci a {
        display: inline-flex;
        justify-content:center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #0ef;
        border-radius: 50%;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        transition: .5s ease;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

        margin: 30px 15px 30px 0;
    }

    .home-sci a:hover {
        background: #0ef;
        color: #081b29;
        box-shadow: 0 0 20px #0ef; 
    }

    .btn-box {
        display: inline-block;
        padding: 12px 28px;
        background: #0ef;
        border-radius: 40px;
        font-size: 16px;
        color: #081b29;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        animation: sideTop 1s ease forwards;
        animation-delay: 2s;
        box-shadow: 0 0 25px #0ef

    }

    .btn-box:hover {
        box-shadow: 0 0 5px cyan,
          0 0 25px cyan, 0 0 50px cyan,
          0 0 100px cyan, 0 0 200px cyan
    }


    @keyframes slideRight {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
        100% { 
            transform: translateX(0px);
            opacity: 1;

        }    
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }

        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }


    @keyframes slideTop {
        0% {
            transform: translateY(100px);
            opacity: 0;
        }

    100% {
        transform:translateY(0px);
        opacity: 1;
    }
  }
  @keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  .home {
    flex-direction: row-reverse;
  }

  .home-img {
    width: 32vw;
    max-width: 320px;
    height: 32vw;
    max-height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0a8ca3;
    box-shadow: 0 0 25px rgb(23, 43, 44);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
    
  }

  .about{
    width:100%;
    padding:80px 10%;
    text-align:center;

  }

  .about h2{
    font: size 40px;
    color:#0ef;
    margin-bottom: 25px;
    
  }

  .about p{
    color:white;
    font-size:18px;
    line-height:30px;
    max-width:800px;
    margin:auto;

  }

  .skills{
    width:100%;
    padding: 80px 10%;
    
  }

  .skills h2{
    text-align: center;
    color:#0ef;
    font-size:40px;
    margin-bottom: 40px;

  }

  .skills p{
    color:white;
    margin-top:18px;
    margin-bottom:8px;
    font-size:18px;

  }

  .skills progress{
    width:100%;
    height:18px;
  }

  .project{
    width:100% ;
    padding:80px 10%;
    text-align:center;
  }
  .project h2{
    color:#0ef;
    font: size 40px;
    margin-bottom:40px;
  }
  .card{
    background:#1f242d;
    padding: 25px;
    border-radius:15px;
    margin:20px 0;
    transition: 0.4s;
  }
  .card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #0ef;
  }
  .card h3{
    color:#0ef;
    margin: bottom 15px;

  }

  .card p{
    color:white;
  }

  .contact{
    width:100%;
    padding:80px 10%;
    text-align:center;

  }

  .contact h2{
    color:#0ef;
    font: size 40px;
    margin: bottom 30px;

  }

  .contact input,
  .contact textarea{
    width:100%;
    padding:15px;
    margin:12px 0;
    border:none;
    border-radius:8px;
    background:#1f242d;
    color:white;
  }

  .contact buttom{
    padding: 15px 40px;
    background: #0ef;
    color:#081b29;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    transition:.4s;
  }

  .contact button:hover{
    box-shadow:0 0 20px cyan;
  }

  .navbar a.active{
    color:#0ef;
  }

  footer{
    text-align:center;
    padding:25px;
    color:white;
    background:#081b29;
  }
